	
<nav class="navbar navbar-expand-lg rounded bg-light">
	<div class="navbar-nav my-2">
		<a class="nav-item navbar-link px-5" href="/">Inicio</a>
		<a class="nav-item navbar-link px-5" href="/pages/nosotros.html">Nosotros</a>
		<a class="nav-item navbar-link px-5" href="">Wiki</a>
		<a class="nav-item navbar-link px-5" href="">Calendario</a>
	</div>
</nav>
