<div class="card">
	<img src="theme/images/hacklab-logo.png" class="card-img-top">
	<div class="card-body bg-light">
		<div class="row">
			<div class="col">Telegram:</div>
			<div class="col"><a href="https://t.me/ColimaHackLab" class="card-link">@ColimaHacklab_canal</a></div>
		</div>
		<div class="row">
			<div class="col">Twitter:</div>
			<div class="col"><a href="https://twitter.com/ColimaHacklab" class="card-link">@ColimaHacklab</a></div>
		</div>
	</div>
</div>
