<html>
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>hola</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body class="px-5 pt-5">
		{% include 'snippets/header.html' %}
		<div class="container-fluid">
			<div class="row py-3">
				<div class="col-md-10">
					<div class="row card mb-5">
						<div class="card-header">
							<h3 class="card-title  p-3">{{ article.title }}</h3>
						</div>
						<div class="card-body">
							<div class="card-subtitle mb-3 text-muted"> {{ article.author }}, {{ article.date.strftime("%Y-%m-%d %H:%M") }} </div>
							<div class="card-text">{{ article.content }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md">
				{% include 'snippets/social.html' %}
				</div>
			</div>
		</div>
	</body>
</html>
