<html>
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>hola</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body class="px-5 pt-5">
		{% include 'snippets/header.html' %}
		<div class="container-fluid">
			<div class="row py-3">
				<div class="col-md-10">
					<div class="row card mb-5">
						<div class="card-header">
							<a href="#"><h3 class="card-title  p-3">Nosotros</h3></a>
						</div>
						<div class="card-body">
							<div class="card-subtitle mb-3 text-muted"> Colima Hacklab </div>
							<div class="card-text">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula dui, pretium ut urna non, ornare dictum nibh. Maecenas eros ligula, porttitor nec odio vel, consequat mollis libero. Nullam sit amet nunc tellus. Aliquam ullamcorper lobortis enim a scelerisque. Suspendisse molestie lacus et vulputate posuere. Cras ultricies massa leo, non faucibus lectus tempus eu. Nulla dapibus non risus nec malesuada. Vestibulum id laoreet dolor. Vivamus malesuada turpis non risus hendrerit, in volutpat ante aliquam. Ut maximus ante libero, id facilisis lorem consequat non.

Sed finibus mi risus, a tincidunt erat tempor non. Quisque vitae euismod arcu, eu maximus nisl. Aliquam a dui dictum, tincidunt dui eu, volutpat est. Vestibulum egestas tellus vitae risus consectetur tristique. Pellentesque in tincidunt magna. Nunc vulputate tincidunt elementum. Quisque gravida ornare ex, sed volutpat diam facilisis at. Vivamus molestie nibh in arcu pellentesque, et venenatis quam accumsan.

Ut non volutpat leo. Donec aliquet quis tellus ac finibus. Duis sodales volutpat est, eu aliquam ligula dapibus vitae. Etiam lectus nibh, viverra a commodo a, mollis in eros. Nunc placerat metus vel nibh convallis, vitae elementum diam mattis. Morbi cursus venenatis nisi, non ullamcorper nulla commodo at. Aliquam vestibulum fringilla tortor ac pretium. Vestibulum elementum, dui in pretium suscipit, nisi lorem pretium turpis, vel tincidunt lectus ex nec ipsum. Donec odio est, egestas et magna ut, sodales bibendum metus.

Etiam imperdiet nisi ex, sit amet aliquam nisl scelerisque vel. Aenean ut erat a elit congue molestie ut ut augue. Suspendisse a semper ipsum. Fusce mattis lacus sem, eget pretium elit sagittis a. Vestibulum pellentesque iaculis elit, vel placerat lorem mollis a. Integer sollicitudin condimentum imperdiet. Donec eleifend, est sit amet finibus interdum, dolor elit tempor elit, eget mollis dui justo in velit. Duis volutpat nulla in risus dictum, eget commodo elit pharetra. Sed imperdiet, dolor non venenatis porttitor, dolor arcu laoreet nisl, a efficitur nunc ipsum vel dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum hendrerit, nunc quis scelerisque tempor, libero purus porta mauris, mattis molestie ipsum tellus a leo. Vestibulum quis neque id nibh vestibulum finibus sit amet sit amet purus. Nam ligula sem, pulvinar vitae scelerisque ut, ornare ac nunc. Proin euismod sit amet enim vel consequat. Pellentesque neque risus, congue vel leo eu, sodales porttitor urna. Sed suscipit vehicula suscipit. 
							</div>
						</div>
					</div>
				</div>
				<div class="col-md">
				{% include 'snippets/social.html' %}
				</div>
			</div>
		</div>
	</body>
</html>
